DB_SOURCE=
DB_DRIVER=
HTTP_SERVER_ADDRESS=
GRPC_SERVER_ADDRESS=
REDIS_ADDRESS=
MONGODB_SOURCE=

TOKEN_SYMMETRIC_KEY=replace-with-32-char-secret
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=

GMAIL_SMTP_USER=
GMAIL_APP_PASSWORD=
GMAIL_NOTIFY_TO=

DOCKERHUB_TOKEN=
DOCKERHUB_USERNAME=

DROPLET_HOST=
DROPLET_SSH_KEY=
DROPLET_SSH_PASSPHRASE=
DROPLET_USER=

RATE_PULSE_API_BASE_URL=