MONGO_URI=mongodb+srv://<user>:<password>@<prod_cluster>.mongodb.net/?appName=<appName>
MONGO_DB=rate_pulse
MONGO_COLLECTION=news-rate-pulse

# Second cluster for storing weekly historical data (min 60 records)
MONGO_WEEKLY_URI=mongodb+srv://<user>:<password>@<weekly_cluster>.mongodb.net/?appName=<appName>
MONGO_WEEKLY_DB=rate_pulse
MONGO_WEEKLY_COLLECTION=news-rate-pulse-weekly

GMAIL_SMTP_USER=
GMAIL_APP_PASSWORD=
GMAIL_NOTIFY_TO=