name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    name: Test

    runs-on: ubuntu-latest

    # Service containers to run with `container-job`
    services:
        # Label used to access the service container
        postgres:
          # Docker Hub image
          image: postgres:16.10-alpine
          # Provide the password for postgres
          env:
            POSTGRES_PASSWORD: 12345678
            POSTGRES_USER: root
            POSTGRES_DB: rate_pulse
          # Set health checks to wait until postgres has started
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
          ports:
            - 5432:5432 # format: [hostPort:]containerPort

    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.4'
      id: go

    - name: Check out repository code
      uses: actions/checkout@v5

    - name: Install golang-migrate
      run: |
        go install github.com/golang-migrate/migrate/v4/cmd/migrate@latest
        tar xvzf migrate.tar.gz
        mv migrate /usr/local/bin/migrate
        rm migrate.tar.gz
        rm migrate.tar

    - name: Run migrations
      run: make migrateup

    - name: Run tests
      run: make test
